@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:focus,
a:active,
input {
  outline: none;
}

body {
  min-height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .navbar__container {
    height: 100vh;
  }
  .navbar__container .nav__toggle {
    display: block;
  }
  .navbar__container .nav--open.nav__list {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) -5px 0px 10px;
            box-shadow: rgba(0, 0, 0, 0.35) -5px 0px 10px;
  }
  .nav__list {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
    z-index: 10;
    background: #ebdbdb;
    opacity: 1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav__list .logohome {
    display: inline-block;
  }
  .nav__list .logohome img {
    width: 100%;
    margin: auto;
  }
  .nav__list .ri-close-fill {
    visibility: visible;
    position: absolute;
    bottom: 1.6rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
  }
  .nav__list .nav__socials {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list .nav__items {
    padding-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .nav__list {
    row-gap: 1.7rem;
  }
}

@media screen and (max-width: 360px) {
  .nav__list {
    row-gap: 1.4rem;
  }
}

@media screen and (max-width: 320px) {
  .nav__list {
    row-gap: 1.3rem;
  }
}

@media screen and (max-width: 425px) {
  .hours {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hours .day {
    padding: 2rem;
  }
  .hours .stick {
    height: 1px;
    width: 160px;
    background-color: black;
  }
}

@media screen and (max-width: 1300px) {
  .operation__field {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.ri-arrow-down-s-line {
  color: #902600;
}

@media screen and (max-width: 1024px) {
  .operation__tab-container > button {
    margin-right: 2rem;
  }
  .banner__img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .operation__tab-container > button {
    padding: 10px;
    margin-top: 2rem;
  }
  .operation__tab-container .operation__tab--active {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .footer-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-wrap .footer__info,
  .footer-wrap .footer__socials {
    margin-top: 2rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 15px;
  }
}

@media screen and (max-width: 425px) {
  .operation__field .operation__meal {
    max-width: 250px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .operation__field .operation__meal img {
    width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
  .operation__field .operation__meal:hover {
    border: 1px solid black;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .operation__field .operation__meal:active {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  .operation__field .operation__meal .operation__description {
    position: relative;
    width: 230px;
    padding-right: 10px;
    margin: 1rem;
  }
  .operation__field .operation__meal .operation__description .operation__meal-content {
    max-width: 180px;
  }
  .operation__field .operation__meal .operation__description .operation__price {
    bottom: -0.5rem;
    right: 1.2rem;
  }
}

@media screen and (max-width: 375px) {
  .section__img img {
    max-width: 300px;
  }
}

@-webkit-keyframes cloud {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes cloud {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@media screen and (max-width: 950px) {
  @-webkit-keyframes cloud {
    0% {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    25%,
    75% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(7);
              transform: scale(7);
    }
  }
  @keyframes cloud {
    0% {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    25%,
    75% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(7);
              transform: scale(7);
    }
  }
}

@media screen and (max-width: 425px) {
  @-webkit-keyframes cloud {
    0% {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    25%,
    75% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(30);
              transform: scale(30);
    }
  }
  @keyframes cloud {
    0% {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    25%,
    75% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(30);
              transform: scale(30);
    }
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateX(-200%) rotate(15deg);
            transform: translateX(-200%) rotate(15deg);
  }
  90% {
    -webkit-transform: translateX(55px) rotate(15deg);
            transform: translateX(55px) rotate(15deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateX(-200%) rotate(15deg);
            transform: translateX(-200%) rotate(15deg);
  }
  90% {
    -webkit-transform: translateX(55px) rotate(15deg);
            transform: translateX(55px) rotate(15deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn2 {
  0% {
    -webkit-transform: translateX(200%) rotate(-15deg);
            transform: translateX(200%) rotate(-15deg);
  }
  90% {
    -webkit-transform: translateX(-55px) rotate(-15deg);
            transform: translateX(-55px) rotate(-15deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    -webkit-transform: translateX(200%) rotate(-15deg);
            transform: translateX(200%) rotate(-15deg);
  }
  90% {
    -webkit-transform: translateX(-55px) rotate(-15deg);
            transform: translateX(-55px) rotate(-15deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes scroll1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-500px * 3));
            transform: translateX(calc(-500px * 3));
  }
}

@keyframes scroll1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-500px * 3));
            transform: translateX(calc(-500px * 3));
  }
}

@-webkit-keyframes scroll2 {
  0% {
    -webkit-transform: translateX(calc(-500px * 3));
            transform: translateX(calc(-500px * 3));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes scroll2 {
  0% {
    -webkit-transform: translateX(calc(-500px * 3));
            transform: translateX(calc(-500px * 3));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 1024px) {
  @-webkit-keyframes fadeIn {
    0% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
    90% {
      -webkit-transform: translateX(35%);
              transform: translateX(35%);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
    90% {
      -webkit-transform: translateX(35%);
              transform: translateX(35%);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeIn2 {
    0% {
      -webkit-transform: translateX(200%);
              transform: translateX(200%);
    }
    90% {
      -webkit-transform: translateX(-35%);
              transform: translateX(-35%);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 1;
    }
  }
  @keyframes fadeIn2 {
    0% {
      -webkit-transform: translateX(200%);
              transform: translateX(200%);
    }
    90% {
      -webkit-transform: translateX(-35%);
              transform: translateX(-35%);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 1;
    }
  }
}

.header, .navbar__container .nav__list, .iframe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  padding: 5rem 0 3rem;
  border-bottom: 1px solid #cecece;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

.promotion {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 800px;
  z-index: 1000;
}

.promotion.hidden {
  visibility: hidden;
  opacity: 0;
}

.promotion .banner {
  position: relative;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  padding: 2rem;
}

.promotion .banner .banner__img {
  margin-right: 1rem;
}

.promotion .banner .banner__img img {
  max-width: 70%;
}

.promotion .banner .promo__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.promotion .banner .promo__info img {
  width: 300px;
  margin: 1rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.promotion .banner .promo__header {
  font-size: 3rem;
  color: #9e1527;
}

.promotion .banner .promo__subheader {
  padding: 3rem 0 1rem;
}

.promotion .banner .promo__content {
  margin: 2rem auto;
  max-width: 400px;
}

.promotion .banner .promo__link {
  margin: auto;
  background: #9e1527;
  width: 130px;
  color: #d2d2d2;
  border: 1px solid #9e1527;
  border-radius: 15px;
  padding: 8px 30px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.promotion .banner .promo__link:hover {
  color: white;
}

.promotion .banner .promo__link:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.promotion .banner .promo--close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  cursor: pointer;
}

.promotion .banner .promo--close:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.promotion__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 999;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.promotion__overlay.hidden {
  visibility: hidden;
  opacity: 0;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(material/resize/entry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 15%;
  background-attachment: fixed;
  overflow-x: hidden;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.clouds img {
  position: absolute;
  bottom: -5%;
  max-width: 100%;
  -webkit-animation: cloud calc(5s * (var(--i))) linear infinite;
          animation: cloud calc(5s * (var(--i))) linear infinite;
}

.navbar__container {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  height: 8vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__container.nav__sticky {
  z-index: 98;
  position: fixed;
  top: 0;
  background: rgba(191, 191, 191, 0.8);
}

.navbar__container .nav__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar__container .nav__list .nav__socials > a {
  color: black;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.navbar__container .nav__list .nav__socials > a:hover {
  color: #871221;
}

.navbar__container .nav__list .nav__socials > a:last-of-type {
  margin-right: 0px;
}

.navbar__container .logohome {
  display: none;
}

.navbar__container .nav__items {
  padding-right: 2rem;
}

.navbar__container .nav__link {
  color: #1b1b1b;
  position: relative;
}

.navbar__container .nav__link.nav__link--active {
  color: #ac162a;
}

.navbar__container .nav__link::before, .navbar__container .nav__link::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #871221;
  position: absolute;
  margin: -3px 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.navbar__container .nav__link::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.navbar__container .nav__link::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar__container .nav__link:hover::before, .navbar__container .nav__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar__container .ri-close-fill {
  visibility: hidden;
}

.navbar__container .nav__toggle {
  z-index: 3;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}

.nav__overlay {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: gainsboro;
}

.reservation__container {
  text-align: center;
  padding: 0rem 2rem;
  line-height: 1.5;
  max-width: 900px;
}

.section__title {
  font-size: 24px;
  padding-bottom: 2.5rem;
}

.reservation__note {
  background-color: #c8c8c8;
  padding: 3rem 0rem;
}

.reservation__info {
  padding: 0 2rem;
}

.kitchen__hours--container {
  min-height: 55vh;
  text-align: center;
}

.hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 3rem 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.hours .stick {
  height: 160px;
  width: 1px;
  background-color: black;
}

.hours .day {
  padding: 2rem;
}

.hours .weekday {
  font-size: 18px;
  padding-bottom: 24px;
}

.hours .ri-arrow-down-s-line {
  font-size: 1.5rem;
}

.hours .hours-open {
  margin-bottom: 24px;
}

.hours .hours-close {
  margin-top: 24px;
}

/* MENU */
.section__header {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem auto 4rem;
}

.section__img img {
  width: 350px;
}

.operation {
  max-width: 100rem;
  margin: auto;
  position: relative;
}

.btn__download {
  background-color: gainsboro;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  color: #9e1527;
  padding: 10px 20px;
  margin: 5rem 0rem 0rem;
  font-weight: 600;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.btn__download:hover {
  background-color: #c8c8c8;
  color: #b5172c;
}

.btn__download:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.operation__tab-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 20px;
  padding: 30px;
  -webkit-transition: border 0.4s;
  transition: border 0.4s;
}

.operation__tab-container > button {
  display: inline-block;
  color: #707070;
  margin-right: 4rem;
  border: none;
  background: transparent;
}

.operation__tab-container > button:last-child {
  margin-right: 0;
}

.operation__tab-container .operations__tab {
  margin-right: 1.5rem;
  padding: 15px 20px;
  white-space: nowrap;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.operation__tab-container .operations__tab:last-child {
  margin-right: 0;
}

.operation__tab-container .operation__tab--active {
  -webkit-transform: translateY(-66%);
          transform: translateY(-66%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 600;
  color: black;
  border-bottom: 1px solid #ac162a;
}

.operation__content {
  font-size: 1.7rem;
}

.operation__field {
  position: relative;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  height: 100%;
  gap: 2rem;
  padding: 30px;
  margin: 1rem auto 6rem;
}

.operation__field .operation__meal:nth-of-type(odd) {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.operation__field .operation__meal:nth-of-type(even) {
  -webkit-animation: fadeIn2 1s;
          animation: fadeIn2 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.operation__field .operation__meal {
  max-width: 600px;
  height: 180px;
  border: 1px solid #707070;
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.operation__field .operation__meal:hover {
  border: 1px solid black;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.operation__field .operation__meal:active {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.operation__field .operation__meal img {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.operation__field .operation__meal .operation__description {
  position: relative;
  width: 400px;
  margin: 1rem;
}

.operation__field .operation__meal .operation__description .operation__mealname {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.operation__field .operation__meal .operation__description .operation__meal-content {
  max-width: 300px;
}

.operation__field .operation__meal .operation__description .operation__price {
  float: right;
  font-weight: 600;
  font-size: 18px;
  color: #871221;
}

.operation__field--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__about {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.section__about .section__img {
  padding: 0;
  margin: 1rem 0 2rem;
}

.about__field {
  line-height: 1.5;
  margin: 1rem auto 3rem;
  padding: 0 30px;
}

.about__field:first-of-type {
  margin-bottom: 1rem;
}

.iframe__container {
  position: relative;
  padding-bottom: 370px;
  width: 100%;
  height: 0;
}

.iframe__container iframe {
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  height: 100%;
}

.slider {
  height: 600px;
  margin: auto;
  position: relative;
  width: 90%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider::after, .slider::before {
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
}

.slider::before {
  top: 0;
  left: 0;
}

.slider::after {
  top: 0;
  right: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slider img {
  max-width: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.slider .slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(600px * 8);
  -webkit-animation: scroll1 25s linear infinite;
          animation: scroll1 25s linear infinite;
  padding: 15px;
}

.slider .slider-track:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.slider .slider-track:last-child {
  -webkit-animation: scroll2 25s linear infinite;
          animation: scroll2 25s linear infinite;
}

.slider .slider-track:last-child:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.slider .slide {
  height: 200px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.footer {
  background: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .section__img img {
  width: 350px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 3rem auto 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-wrap .footer__info,
.footer-wrap .footer__socials {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 20px;
}

.footer__items {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.footer__items:first-child {
  margin-top: 1rem;
}

.footer__items .footer__link {
  color: #1b1b1b;
  font-size: 18px;
  position: relative;
}

.footer__items .footer__link::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #871221;
  position: absolute;
  margin: -3px 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.footer__items .footer__link::after {
  bottom: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.footer__items .footer__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer__social--icons > a {
  color: black;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.footer__social--icons > a:hover {
  color: #871221;
}

.footer__social--icons > a:last-of-type {
  margin-right: 0px;
}

.footer__contact--black {
  font-size: 20px;
  padding-bottom: 1rem;
}

.cookie__message {
  text-align: center;
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  background-color: #c8c8c8;
  color: #1f1f1f;
  padding: 1rem;
  z-index: 99;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cookie__message.active {
  top: 0;
}

.cookie__message a {
  color: #1f1f1f;
  text-decoration: underline;
}

.cookie__message .cookie__btn {
  border: 0;
  color: white;
  padding: 8px 24px;
  font-size: 16px;
  margin: 1rem 1rem 0 0;
  border-radius: 8px;
  cursor: pointer;
}

.cookie__message .cookie__btn:hover {
  background: #ff4400;
}

.cookie__message .cookie__btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.cookie__message .cookie__btn--open {
  background: rgba(255, 68, 0, 0.8);
}

.cookie__message .cookie__btn--close {
  background: rgba(144, 38, 0, 0.7);
}

.ri-arrow-down-s-line {
  color: #902600;
}
/*# sourceMappingURL=mainScss.css.map */