@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Montserrat:wght@400;500;600;700&display=swap');
@import 'style/index.scss';

//
%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// REUSABLE
.section {
  padding: 5rem 0 3rem;
  border-bottom: 1px solid rgb(206, 206, 206);

  transition: transform 1s, opacity 1s;
}
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin: auto;
}

// HEADER
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

.preload * {
  transition: none !important;
}
// PROMO
.promotion {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  z-index: 1000;

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
  .banner {
    position: relative;
    background: rgb(255, 255, 255);
    display: flex;
    justify-items: center;
    padding: 2rem;
    .banner__img {
      margin-right: 1rem;

      img {
        max-width: 70%;
      }
    }
    .promo__info {
      display: flex;
      flex-direction: column;
      text-align: center;
      img {
        width: 300px;
        margin: 1rem 0;
        align-self: center;
      }
    }
    .promo__header {
      font-size: 3rem;
      color: hsl(352, 77, 35);
    }
    .promo__subheader {
      padding: 3rem 0 1rem;
    }
    .promo__content {
      margin: 2rem auto;
      max-width: 400px;
    }
    .promo__link {
      margin: auto;
      background: hsl(352, 77, 35);
      width: 130px;
      color: rgb(210, 210, 210);
      border: 1px solid hsl(352, 77, 35);
      border-radius: 15px;
      padding: 8px 30px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
      &:hover {
        color: white;
      }
      &:active {
        transform: scale(0.98);
      }
    }
    .promo--close {
      font-size: 1.5rem;
      position: absolute;
      top: 1rem;
      right: 0.5rem;
      cursor: pointer;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
.promotion__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  z-index: 999;
  transition: all 0.4s;

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(material/resize/entry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 15%;
  background-attachment: fixed;
  @extend %flexCenter;
  overflow-x: hidden;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  img {
    position: absolute;
    bottom: -5%;
    max-width: 100%;
    animation: cloud calc(5s * (var(--i))) linear infinite;
  }
}

// NAVBAR

.navbar__container {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  &.nav__sticky {
    z-index: 98;
    position: fixed;
    top: 0;
    background: hsla(0, 0%, 75%, 0.8);
  }

  .nav__list {
    @extend %flexCenter;
    flex: 1;
    .nav__socials > a {
      color: black;
      font-size: 1.5rem;
      margin-right: 1.5rem;
      cursor: pointer;
      &:hover {
        color: hsl(352, 77, 30);
      }
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
  .logohome {
    display: none;
  }

  .nav__items {
    padding-right: 2rem;
  }

  .nav__link {
    color: rgb(27, 27, 27);
    position: relative;
    &.nav__link--active {
      color: hsl(352, 77, 38);
    }
    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background: hsl(352, 77, 30);
      position: absolute;
      margin: -3px 0;
      left: 0;
      transform: scaleX(0);
      transition: transform 0.5s;
    }
    &::after {
      bottom: 0;
      transform-origin: right;
    }
    &::before {
      top: 0;
      transform-origin: left;
    }
    &:hover::before,
    &:hover::after {
      transform: scaleX(1);
    }
  }
  .ri-close-fill {
    visibility: hidden;
  }
  .nav__toggle {
    z-index: 3;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
  }
}
.nav__overlay {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  transition: 0.4s;
}

// RESERVATION
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: rgb(220, 220, 220);
}

.reservation__container {
  text-align: center;
  padding: 0rem 2rem;
  line-height: 1.5;
  max-width: 900px;
}
.section__title {
  font-size: 24px;
  padding-bottom: 2.5rem;
}
.reservation__note {
  background-color: rgb(200, 200, 200);
  padding: 3rem 0rem;
}
.reservation__info {
  padding: 0 2rem;
}

// KITCHEN HOURS

.kitchen__hours--container {
  min-height: 55vh;
  text-align: center;
}

.hours {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  margin: 3rem 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  .stick {
    height: 160px;
    width: 1px;
    background-color: black;
  }
  .day {
    padding: 2rem;
  }

  .weekday {
    font-size: 18px;
    padding-bottom: 24px;
  }
  .ri-arrow-down-s-line {
    font-size: 1.5rem;
  }
  .hours-open {
    margin-bottom: 24px;
  }
  .hours-close {
    margin-top: 24px;
  }
}

/* MENU */

.section__header {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto 4rem;
}
.section__img {
  img {
    width: 350px;
  }
}
.operation {
  max-width: 100rem;
  margin: auto;
  position: relative;
}
.btn__download {
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  color: hsl(352, 77, 35);
  padding: 10px 20px;
  margin: 5rem 0rem 0rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  &:hover {
    background-color: rgb(200, 200, 200);
    color: hsl(352, 77, 40);
  }
  &:active {
    transform: scale(0.98);
  }
}

// BUTTONS
.operation__tab-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 20px;
  padding: 30px;
  transition: border 0.4s;
  & > button {
    display: inline-block;
    color: rgb(112, 112, 112);
    margin-right: 4rem;
    border: none;
    background: transparent;
    &:last-child {
      margin-right: 0;
    }
  }
  .operations__tab {
    margin-right: 1.5rem;
    padding: 15px 20px;
    white-space: nowrap;
    text-align: center;
    flex-wrap: wrap;
    &:last-child {
      margin-right: 0;
    }
  }
  .operation__tab--active {
    transform: translateY(-66%);
    transition: 0.5s;
    font-weight: 600;
    color: black;
    border-bottom: 1px solid hsl(352, 77, 38);
  }
}

.operation__content {
  font-size: 1.7rem;
}

// FIELD FOR MEALS
.operation__field {
  position: relative;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  height: 100%;
  gap: 2rem;
  padding: 30px;
  margin: 1rem auto 6rem;
  .operation__meal {
    &:nth-of-type(odd) {
      animation: fadeIn 1s;
      animation-fill-mode: forwards;

      transform: translateX(-200%);
    }
    &:nth-of-type(even) {
      animation: fadeIn2 1s;
      animation-fill-mode: forwards;

      transform: translateX(200%);
    }
  }

  .operation__meal {
    max-width: 600px;
    height: 180px;
    border: 1px solid rgb(112, 112, 112);
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      border: 1px solid rgb(0, 0, 0);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1.04);
    }
    img {
      transform: scale(1.01);
      width: 200px;
      object-fit: cover;
    }
    .operation__description {
      position: relative;
      width: 400px;
      margin: 1rem;
      .operation__mealname {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      .operation__meal-content {
        max-width: 300px;
      }
      .operation__price {
        float: right;
        font-weight: 600;
        font-size: 18px;
        color: hsl(352, 77, 30);
      }
    }
  }
}
.operation__field--active {
  display: flex;
}

// ABOUT

.section__about {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  .section__img {
    padding: 0;
    margin: 1rem 0 2rem;
  }
}
.about__field {
  line-height: 1.5;
  margin: 1rem auto 3rem;
  padding: 0 30px;
  &:first-of-type {
    margin-bottom: 1rem;
  }
}
.iframe__container {
  @extend %flexCenter;
  position: relative;
  padding-bottom: 370px;
  width: 100%;
  height: 0;
  iframe {
    padding: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: 100%;
  }
}

// slider

.slider {
  height: 600px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
  &::after,
  &::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
  }
  img {
    max-width: 100%;
    transition: transform 1s;
  }
  .slider-track {
    display: flex;
    width: calc(600px * 8);
    animation: scroll1 25s linear infinite;
    padding: 15px;
    &:hover {
      animation-play-state: paused;
    }
    &:last-child {
      animation: scroll2 25s linear infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
  .slide {
    height: 200px;
    width: 500px;
    display: flex;
    align-items: center;
    padding: 2rem;
  }
}

.footer {
  background: rgb(206, 206, 206);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  .section__img {
    img {
      width: 350px;
    }
  }
}
.footer-wrap {
  display: flex;
  width: 80%;
  margin: 3rem auto 1rem;
  flex-wrap: wrap;
  .footer__info,
  .footer__socials {
    flex-basis: 25%;
    padding: 20px;
  }
}
.footer__items {
  margin-bottom: 1.5rem;
  line-height: 1.5;
  &:first-child {
    margin-top: 1rem;
  }
  .footer__link {
    color: rgb(27, 27, 27);
    font-size: 18px;
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background: hsl(352, 77, 30);
      position: absolute;
      margin: -3px 0;
      left: 0;
      transform: scaleX(0);
      transition: transform 0.5s;
    }
    &::after {
      bottom: 0;
      transform-origin: left;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
}
.footer__social--icons > a {
  color: black;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  &:hover {
    color: hsl(352, 77, 30);
  }
  &:last-of-type {
    margin-right: 0px;
  }
}
.footer__contact--black {
  font-size: 20px;
  padding-bottom: 1rem;
}

// COOKIE
.cookie__message {
  text-align: center;
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  background-color: rgb(200, 200, 200);
  color: rgb(31, 31, 31);
  padding: 1rem;
  z-index: 99;

  transition: 0.4s;
  &.active {
    top: 0;
  }
  & a {
    color: rgb(31, 31, 31);
    text-decoration: underline;
  }
  .cookie__btn {
    border: 0;
    color: white;
    padding: 8px 24px;
    font-size: 16px;
    margin: 1rem 1rem 0 0;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background: rgb(255, 68, 0);
    }
    &:active {
      transform: scale(0.98);
    }
  }
  .cookie__btn--open {
    background: rgba(255, 68, 0, 0.8);
  }
  .cookie__btn--close {
    background: rgba(144, 38, 0, 0.7);
  }
}

.ri-arrow-down-s-line {
  color: rgba(144, 38, 0, 1);
}
