// NAVBAR MENU MEDIA

@media screen and (max-width: 950px) {
  .navbar__container {
    height: 100vh;
    .nav__toggle {
      display: block;
    }
    .nav--open {
      &.nav__list {
        transform: translateX(0%);
        box-shadow: rgba(0, 0, 0, 0.35) -5px 0px 10px;
      }
    }
  }
  .nav__list {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    flex-direction: column;
    row-gap: 2.5rem;
    z-index: 10;
    background: rgb(235, 219, 219);
    opacity: 1;
    transition: 0.4s;
    transform: translateX(100%);
    .logohome {
      display: inline-block;
      img {
        width: 100%;
        margin: auto;
      }
    }
    .ri-close-fill {
      visibility: visible;
      position: absolute;
      bottom: 1.6rem;
      right: 1.5rem;
      font-size: 2rem;
      cursor: pointer;
    }
    .nav__socials {
      visibility: visible;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav__items {
      padding-right: 0;
    }
  }
}
@media screen and (max-width: 425px) {
  .nav__list {
    row-gap: 1.7rem;
  }
}
@media screen and (max-width: 360px) {
  .nav__list {
    row-gap: 1.4rem;
  }
}
@media screen and (max-width: 320px) {
  .nav__list {
    row-gap: 1.3rem;
  }
}

//   KITCHEN MEDIA

@media screen and (max-width: 425px) {
  .hours {
    flex-direction: column;
    .day {
      padding: 2rem;
    }
    .stick {
      height: 1px;
      width: 160px;
      background-color: black;
    }
  }
}

// THE REST
@media screen and (max-width: 1300px) {
  .operation__field {
    justify-content: center;
    align-items: center;
  }
}
.ri-arrow-down-s-line {
  color: rgba(144, 38, 0, 1);
}
@media screen and (max-width: 1024px) {
  .operation__tab-container {
    & > button {
      margin-right: 2rem;
    }
  }
  .banner__img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .operation__tab-container {
    & > button {
      padding: 10px;
      margin-top: 2rem;
    }
    .operation__tab--active {
      transform: translateY(-40%);
    }
  }
  .footer-wrap {
    justify-content: center;

    .footer__info,
    .footer__socials {
      margin-top: 2rem;
      flex-basis: 100%;
      padding: 15px;
    }
  }
}

@media screen and (max-width: 425px) {
  // FIELD FOR MEALS
  .operation__field {
    .operation__meal {
      max-width: 250px;
      height: auto;
      flex-direction: column;
      img {
        width: 250px;
        object-fit: cover;
        height: auto;
      }
      &:hover {
        border: 1px solid rgb(0, 0, 0);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.99);
      }
      .operation__description {
        position: relative;
        width: 230px;
        padding-right: 10px;
        margin: 1rem;
        .operation__meal-content {
          max-width: 180px;
        }
        .operation__price {
          bottom: -0.5rem;
          right: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .section__img {
    img {
      max-width: 300px;
    }
  }
}
