@import 'styles.scss';
@import '../mainStyle.scss';
@import 'nullstyle.scss';

html {
  overflow-x: hidden;
}

// SUBSCRIBE PAGE

.subscribe {
  background: url(../material/resize/subbanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.subscribe__container {
  background: #304352;
  background: linear-gradient(to bottom, #d7d2ccdd 40%, $mainColor);
  display: flex;
  width: 1000px;
  margin: auto;
  gap: 2rem;
  border-radius: 10px;
  .subscribe__left {
    display: flex;
    align-items: center;
    flex-basis: 40%;
    & img {
      max-width: 100%;
      margin: auto;
    }
  }
  .subscribe__right {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1rem;

    form {
      width: 50%;
      flex-direction: column;
      display: flex;
      margin: 2rem;
      & > * {
        margin: 1rem;
      }
      input {
        width: 100%;
        height: 30px;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 3px;
        font-family: inherit;
        background-color: transparent;
      }
      button {
        width: 50%;
        display: block;
        margin: 1rem auto 0;
        letter-spacing: 1px;
        background-color: $mainColor;
        color: $secondColorLight;
        border-radius: 10px;
        border: 2px solid white;
        padding: 13px 0;
        font-weight: 600;

        &:hover {
          background: $secondColorLight;
          color: $mainColor;
          border: 2px solid $activeColor;
        }
        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
  .sub__header {
    margin-bottom: 1.5rem;
  }
  .sub__content {
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .subscribe__container {
    margin: 0rem auto 1rem;
    width: 70%;
    height: 80vh;
    flex-direction: column;
    .subscribe__left {
      flex-basis: 30%;
      padding: 0rem 1rem;
      img {
        width: 180px;
      }
    }
    .subscribe__right {
      flex-basis: 70%;
      padding: 0rem 0.5rem;
      .sub__header {
        text-align: center;
        font-size: 26px;
      }
      .sub__content {
        font-size: 16px;
        margin-bottom: 0.5rem;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .subscribe__container {
    .subscribe__right {
      .sub__header {
        font-size: 24px;
      }
      .sub__content {
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 630px) {
  .subscribe__container {
    margin: 0rem auto;
    width: 80%;
    .subscribe__right {
      flex-basis: 70%;
      padding: 0rem 1rem;
      .sub__header {
        font-size: 18px;
      }
      .sub__content {
        margin-bottom: 1rem;
        font-size: 13px;
      }
      form {
        width: 70%;
        margin: 0rem 0 1rem;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .subscribe__container {
    .subscribe__left {
      img {
        width: 150px;
      }
    }
    .subscribe__right {
      .sub__content {
        font-size: 14px;
      }
      form {
        width: 100%;
      }
    }
    button {
      margin: 0rem auto;
    }
  }
}
// EVENTS PAGE
.event {
  background: url(https://images.squarespace-cdn.com/content/v1/53ce954de4b0945af8803fe9/1545851756186-Z4DQHO96KWOUIJVNT66C/47578325_369323780506176_1010760784348708864_n.jpg?format=2500w);
  background-position: 50% 6%;
  background-repeat: no-repeat;
  background-attachment: fixedd;
  background-size: cover;
  min-height: 100vh;
}
.event__header {
  text-align: center;
  font-size: 2rem;
  color: $secondColorDark;
  font-weight: 600;
  text-shadow: black 1px 1px 0, black -1px -1px 0;
  padding: 3rem 0;
}

.event__container {
  background: #304352;
  background: linear-gradient(to bottom, #d7d2ccdd 40%, $mainColor);
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1.5rem;

  width: 95%;
  max-width: 1010px;
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-columns: 340px 340px 250px;
  grid-template-rows: 400px 300px;
  grid-template-areas:
    '300 dead joker'
    'it   it  joker';

  .event__date {
    position: absolute;
    top: 0;
    left: 1rem;
    text-align: center;
    background: $activeColor;
    padding: 0.5rem;
    color: $secondColorLight;
    text-shadow: black 1px 1px 0, black -1px -1px 0;
  }
  .event__name {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: $secondColorLight;
    text-shadow: black 1px 1px 0, black -1px -1px 0;
    font-size: 20px;
    font-weight: 600;
  }
  .film {
    position: relative;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    &:hover {
      transform: scale(1.01);
    }
    img {
      max-width: 100%;
    }
  }
  & > :first-child {
    background-image: url(../material/resize/300.jpg);
    background-repeat: no-repeat;
    grid-template-areas: 300;
  }
  & > :nth-child(2) {
    background-image: url(../material/resize/deadpool.jpg);
    background-repeat: no-repeat;
    grid-template-areas: dead;
  }
  & > :nth-child(3) {
    background-image: url(../material/resize/joker.jpg);
    background-repeat: no-repeat;
    grid-area: joker;
    max-height: 720px;
  }
  & > :last-child {
    background-image: url(../material/resize/it.jpg);
    background-repeat: no-repeat;
    grid-area: it;
  }
}

@media screen and (max-width: 1078px) {
  .event__container {
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2fr);
    grid-template-rows: repeat(2fr);
    grid-template-areas:
      '300 dead'
      'it  joker';
  }
}

@media screen and (max-width: 800px) {
  .event__container {
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    grid-template-areas:
      '300 dead'
      'it joker';
  }
}
@media screen and (max-width: 700px) {
  .event__container {
    margin: auto;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 400px) 300px;
    grid-template-areas:
      '300'
      'dead'
      'joker '
      ' it';
    .film {
      display: flex;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 360px) {
  .event__container {
    grid-template-columns: 260px;
  }
}

// /////////////////SWUP
