@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:focus,
a:active,
input {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Lora', serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

body {
  overflow-x: hidden;
}

.navbar__container--sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  min-height: 8vh;
  width: 100%;
  background: rgba(200, 200, 200, 0.7);
  position: absolute;
  top: 0;
}

.navbar__container--sub.nav__overlay--sub {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav__list--sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list--sub .logohome--nav {
  display: none;
}

.nav__list--sub .nav--close {
  display: none;
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.nav__list--sub.show__nav--sub {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) -5px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.35) -5px 0px 10px;
}

.nav__list--sub .nav__link--sub {
  margin-right: 1.7rem;
  font-weight: 600;
  color: #1b1b1b;
  position: relative;
}

.nav__list--sub .nav__link--sub.nav__link--active {
  color: #b5172c;
}

.nav__list--sub .nav__link--sub::before, .nav__list--sub .nav__link--sub::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #871221;
  position: absolute;
  margin: -3px 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.nav__list--sub .nav__link--sub::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav__list--sub .nav__link--sub::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav__list--sub .nav__link--sub:hover::before, .nav__list--sub .nav__link--sub:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__socials--sub {
  font-size: 1.5rem;
  line-height: 1.5;
}

.nav__socials--sub > a {
  margin-right: 1rem;
  color: #1b1b1b;
  cursor: pointer;
}

.nav__socials--sub > a:hover {
  color: #871221;
}

.nav__socials--sub > a:last-of-type {
  margin-right: 0px;
}

.nav__socials--sub > a .ri-shopping-cart-2-fill {
  cursor: pointer;
}

.nav__toggle--sub {
  color: #1b1b1b;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  display: none;
}

@-webkit-keyframes linkFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes linkFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media screen and (max-width: 1150px) {
  .logohome--sub {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .navbar__container--sub {
    height: 100vh;
    background: transparent;
  }
  .nav__list--sub .logohome--nav {
    display: block;
    margin: 0 1rem;
  }
  .nav__list--sub .nav--close {
    display: block;
  }
  .nav__list--sub {
    z-index: 20;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    gap: 2.5rem;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background: #ebdbdb;
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  }
  .nav__toggle--sub {
    display: block;
  }
  .nav__link--sub {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav__list--sub {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .nav__list--sub {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .nav__list--sub .logohome--nav {
    width: 80%;
  }
  .nav__list--sub .nav--close {
    top: 1rem;
    right: 1rem;
  }
  .nav__list--sub {
    gap: 1.2rem;
  }
}
/*# sourceMappingURL=navbar.css.map */