@import 'styles.scss';
@import 'nullstyle.scss';

// NAVBAR ELEMENTs
body {
  overflow-x: hidden;
}
.navbar__container--sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  min-height: 8vh;
  background: rgba(200, 200, 200, 0.7);
  position: absolute;
  top: 0;
  &.nav__overlay--sub {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    transition: 0.4s;
  }
}
//  UL
.nav__list--sub {
  display: flex;
  .logohome--nav {
    display: none;
  }
  .nav--close {
    display: none;
    font-size: 1.5rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
  }
  // ACTIVE STATE
  &.show__nav--sub {
    transform: translateX(0%);
    box-shadow: rgba(0, 0, 0, 0.35) -5px 0px 10px;
  }
  .nav__link--sub {
    margin-right: 1.5rem;
    font-weight: 600;
    color: rgb(27, 27, 27);
    position: relative;
    &.nav__link--active {
      color: $activeColor;
    }
    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background: $hoverColor;
      position: absolute;
      margin: -3px 0;
      left: 0;
      transform: scaleX(0);
      transition: transform 0.5s;
    }
    &::after {
      bottom: 0;
      transform-origin: right;
    }
    &::before {
      top: 0;
      transform-origin: left;
    }
    &:hover::before,
    &:hover::after {
      transform: scaleX(1);
    }
  }
}
// SOCIAL LINKS
.nav__socials--sub {
  font-size: 1.5rem;
  & > a {
    margin-right: 1.5rem;
    color: rgb(27, 27, 27);
    cursor: pointer;
    &:hover {
      color: $hoverColor;
    }
    &:last-of-type {
      margin-right: 0px;
    }
  }
}
//  TOGGLE NAVBAR
.nav__toggle--sub {
  color: rgb(27, 27, 27);
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;

  display: none;
}

// ANIMATION

@keyframes linkFadeIn {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

// MEDIA
@media screen and (max-width: 1150px) {
  .logohome--sub {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .navbar__container--sub {
    height: 100vh;
    background: transparent;
  }
  .nav__list--sub {
    .logohome--nav {
      display: block;
      margin: 0 1rem;
    }
    .nav--close {
      display: block;
    }
  }
  .nav__list--sub {
    z-index: 20;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 2.5rem;
    transform: translateX(100%);
    background: rgb(235, 219, 219);
    transition: transform 0.4s ease-in;
  }
  .nav__toggle--sub {
    display: block;
  }
  .nav__link--sub {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav__list--sub {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .nav__list--sub {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .nav__list--sub {
    .logohome--nav {
      width: 80%;
    }
    .nav--close {
      top: 1rem;
      right: 1rem;
    }
  }
  .nav__list--sub {
    gap: 1.2rem;
  }
}
