@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Montaga&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a:focus,
a:active,
input {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Lora', serif;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: 'Montaga', serif;
}
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
input,
button,
textarea,
select {
  font-family: 'Montaga', serif;
}

button {
  cursor: pointer;
}
